


@font-face{
  font-family:ProggyVector;
  src:url(i/ProggyVector-Regular.ttf);
}



body{background:#000;}



#tl{
	position:absolute;
	left:5%;
	top:32px;
  margin:0px;
  padding:16px;
	font-family:ProggyVector;
  font-size:16px;
	line-height:1.05;
  background:#111;
}

#tl details{
  display:inline-block;
  width:64px;
  margin:0px;
  margin-top:15px;
  margin-bottom:10px;
  padding:0px;
	font-family:ProggyVector;
  font-size:16px;
	line-height:1.1;
  background:#0ff;
  color:#000;
}
#tl details[open]{
  width:250px;
  padding:15px;
}
#tl details summary{
  cursor:pointer;
  color:#fff;
  text-align:center;
  text-shadow:
    -1px 0px 0px #111, 0px -1px 0px #111, 0px 1px 0px #111, 1px 0px 0px #111,
    -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111, 1px 1px 1px #111
  ;
}
#tl details summary:hover{
  background:#00f;
}
#tl details summary::before{
  font-size:32px;
  text-shadow:
    -1px 0px 0px #111, 0px -1px 0px #111, 0px 1px 0px #111, 1px 0px 0px #111,
    -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111, 1px 1px 1px #111
  ;
  content:'📝 ';
}

#tl p{
  display:inline-block;
  width:64px;
  margin:0px;
  margin-top:15px;
  margin-bottom:10px;
  padding:0px;
  text-align:center;
  font-size:16px;
  line-height:1.25;
  color:#fff;
  text-shadow:
    -1px 0px 0px #111, 0px -1px 0px #111, 0px 1px 0px #111, 1px 0px 0px #111,
    -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111, 1px 1px 1px #111
  ;
}



.hou0{
  background-image:linear-gradient(to bottom, #000 1%, #111 100%);
}
.hou0::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#000;
  content:'💤';
}

.hou1{
  background-image:linear-gradient(to bottom, #000 1%, #131 100%);
}
.hou1::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#020;
  content:'🐇';
}

.hou2{
  background-image:linear-gradient(to bottom, #000 1%, #151 100%);
}
.hou2::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#040;
  content:'🐇';
}

.hou3{
  background-image:linear-gradient(to bottom, #000 1%, #171 100%);
}
.hou3::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#060;
  content:'🐎';
}

.hou4{
  background-image:linear-gradient(to bottom, #000 1%, #191 100%);
}
.hou4::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#080;
  content:'🐎';
}

.hou5{
  background-image:linear-gradient(to bottom, #000 1%, #1b1 100%);
}
.hou5::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#0a0;
  content:'🐺';
}

.hou6{
  background-image:linear-gradient(to bottom, #000 1%, #1d1 100%);
}
.hou6::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#0c0;
  content:'🐺';
}

.hou7{
  background-image:linear-gradient(to bottom, #000 1%, #1f1 100%);
}
.hou7::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#0f0;
  content:'🐉';
}

.hou8{
  background-image:linear-gradient(to bottom, #000 1%, #3f1 100%);
}
.hou8::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#0f0;
  content:'🐉';
}

.hou9{
  background-image:linear-gradient(to bottom, #000 1%, #5f1 100%);
}
.hou9::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#8f0;
  content:'👺';
}

.hou10{
  background-image:linear-gradient(to bottom, #000 1%, #7f1 100%);
}
.hou10::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#ff0;
  content:'👺';
}

.hou11{
  background-image:linear-gradient(to bottom, #000 1%, #9f1 100%);
}
.hou11::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f80;
  content:'💀';
}

.hou12{
  background-image:linear-gradient(to bottom, #400 1%, #bf1 100%);
}
.hou12::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f40;
  content:'💀';
}

.hou13{
  background-image:linear-gradient(to bottom, #800 1%, #df1 100%);
}
.hou13::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f20;
  content:'💀';
}

.hou14{
  background-image:linear-gradient(to bottom, #b00 1%, #ff1 100%);
}
.hou14::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou15{
  background-image:linear-gradient(to bottom, #f00 1%, #bb1 100%);
}
.hou15::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou16{
  background-image:linear-gradient(to bottom, #f00 1%, #881 100%);
}
.hou16::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou17{
  background-image:linear-gradient(to bottom, #f00 1%, #441 100%);
}
.hou17::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou18{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou18::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou19{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou19::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou20{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou20::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou21{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou21::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou22{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou22::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou23{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou23::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  background:#f00;
  content:'💀';
}

.hou24{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.hou24::before{
  font-size:48px;
  padding-left:8px;
  padding-right:8px;
  padding-top:4px;
  background:#f00;
  content:'💀';
}


mor9::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#0f0;
  content:'🌞';
}
mor8::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#0f0;
  content:'🌞';
}
mor7::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#8f0;
  content:'😎';
}
mor6::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#8f0;
  content:'😎';
}
mor5::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#ff0;
  content:'🙂';
}
mor4::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#ff0;
  content:'🙂';
}
mor3::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#f80;
  content:'😑';
}
mor2::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#f80;
  content:'😑';
}
mor1::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#f00;
  content:'😞';
}
mor0::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#f00;
  content:'😞';
}



pri9::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#0f0;
  content:'🐝';
}
pri8::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#0f0;
  content:'🐝';
}
pri7::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#1f1;
  content:'🦉';
}
pri6::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#3f3;
  content:'🦉';
}
pri5::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#5f5;
  content:'🐗';
}
pri4::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#7f7;
  content:'🐗';
}
pri3::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#9f9;
  content:'🐕';
}
pri2::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#bfb;
  content:'🐕';
}
pri1::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#dfd;
  content:'🐬';
}
pri0::before{
  font-size:32px;
  padding-left:16px;
  padding-right:16px;
  background:#fff;
  content:'🐬';
}


